* {
  box-sizing: border-box;
  /* border: 1px solid #000000; */
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #ffffff;
}

.playing-field {
  background: url(../img/Background.png) no-repeat center;
  background-size: cover;
  padding-top: 20px;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1440px;
  min-width: 320px;
  padding: 96px 0 0 5px;
  margin-left: 5%;
}

.menu__title-wrap {
  margin-bottom: 80px;
}

.menu__title {
  font-weight: bold;
  font-size: 57px;
  line-height: 67px;
  padding: 0 5px;
}

.menu__description {
  font-size: 19px;
  line-height: 22px;
  padding: 0 5px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-item {
  position: relative;
  cursor: pointer;
  padding: 7px 45px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  width: 300px;
}

.list-item:hover {
  color: #ccc;
}

.list-item_checked::before {
  content: url(../img/Rectangle.svg);
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  left: 0;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.button {
  width: 352px;
  height: 95px;
  border: none;
  background-color: #D62B2E;
  border-radius: 7px;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
  cursor: pointer;
}

.image {
  padding: 10px;
  display: flex;
  align-content: flex-end;
  position: relative;

}

.card-10deg {
  position: absolute;
  right: 243px;
  bottom: 40px;
}

.card-40deg {
  z-index: 1;
}

.game {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  max-width: 1440px;
  min-width: 320px;
  padding: 100px 5px;
}

.card {
  position: relative;
  width: 218px;
  height: 341px;
  cursor: pointer;
  transition: 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card__side {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card__side_face {
  transform: rotateY(180deg);
}

/*.card:hover {*/
/*  transform: translateY(-15px) rotateZ(-5deg);*/
/*  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);*/
/*}*/

.flip {
  transform: rotateY(180deg);
}



.hide {
  display: none;
}